In [1]:
import pandas as pd
import geopandas as gpd

import numpy as np
import re

In [135]:
vil1 = gpd.read_file('Maps/assam_village_complete_with_revenueCircle_district_35_oct2022.geojson')
vil1 = vil1.to_crs('EPSG:4326')
vil1.head()

,OBJECTID,VILNAM_SOI,block_name,sdtname_2,district,revenue_ci,district_2,object_id,geometry
0,532836,KYAR PUR,GOSSAIGAON,Gossaigaon (Pt),KOKRAJHAR,Gossaigaon (Pt),KOKRAJHAR,101.0,"MULTIPOLYGON (((89.87849 26.36818, 89.88092 26..."
1,532840,THAKURPUR,GOSSAIGAON,Gossaigaon (Pt),KOKRAJHAR,Gossaigaon (Pt),KOKRAJHAR,101.0,"MULTIPOLYGON (((89.89619 26.36051, 89.89745 26..."
2,532855,KARLING PUR,GOSSAIGAON,Gossaigaon (Pt),KOKRAJHAR,Gossaigaon (Pt),KOKRAJHAR,101.0,"MULTIPOLYGON (((89.89169 26.37077, 89.89359 26..."
3,532857,ANANDAPUR,GOSSAIGAON,Gossaigaon (Pt),KOKRAJHAR,Gossaigaon (Pt),KOKRAJHAR,101.0,"MULTIPOLYGON (((89.87512 26.37171, 89.87527 26..."
4,532872,GREHAMPUR GAON,GOSSAIGAON,Gossaigaon (Pt),KOKRAJHAR,Gossaigaon (Pt),KOKRAJHAR,101.0,"MULTIPOLYGON (((89.88257 26.36163, 89.88305 26..."

In [137]:
vil_bm = gpd.read_file('Maps/bharatmapnew_assam_villages.geojson')
vil_bm = vil_bm.to_crs('EPSG:4326')
vil_bm.head()

,objectid,vilnam_soi,stcode11,dtcode11,sdtcode11,vilcode11,stname,dtname,sdtname,vilname11,...,gp_name,subdt_lgd,block_name,block_lgd,st_area(shape),st_length(shape),remark,ac_no,test,geometry
0,17578,KAPAN,18,317,02100,,ASSAM,Karimganj,Lakhipur,,...,,2100,SOUTH KARIMGANJ,2633,3.915268e+05,3232.973732,None,5.0,None,"MULTIPOLYGON (((92.42214 24.83839, 92.42214 24..."
1,19627,DAMBARIVITA,18,302,02013,,ASSAM,Goalpara,Lakhipur,,...,,2013,JALESWAR,2571,4.055980e+05,3051.904821,None,39.0,None,"MULTIPOLYGON (((90.23105 26.05982, 90.23116 26..."
2,33142,UDOYPUR KOIBARTA,18,311,02070,,ASSAM,Sivasagar,Dimow,,...,,2070,DEMOW,2694,1.197704e+06,4580.967760,None,107.0,None,"MULTIPOLYGON (((94.72774 27.17376, 94.72653 27..."
3,21162,BHASMIPUR P 3,18,319,02110,,ASSAM,Bongaigaon,Bongaigaon (Pt),,...,,2110,BOITAMARI,2501,4.030124e+05,3040.458907,None,38.0,None,"MULTIPOLYGON (((90.41347 26.18044, 90.41473 26..."
4,23933,KERAP PUR,18,301,02001,,ASSAM,Dhubri,Gossaigaon (Pt),,...,,2001,HATIDHURA,6559,2.216675e+05,2012.499424,None,28.0,None,"MULTIPOLYGON (((89.87180 26.36438, 89.87186 26..."

In [136]:
vil1=vil1[['OBJECTID', 'VILNAM_SOI','block_name','sdtname_2', 'geometry']]

In [138]:
vil2 =vil_bm[['objectid', 'vilnam_soi','block_name','sdtname','geometry']]
vil2.columns = ['OBJECTID', 'VILNAM_SOI','block_name','sdtname_2','geometry']

In [139]:
vil3 =vil_bm[['objectid', 'gp_name','block_name','sdtname','geometry']]
vil3.columns = ['OBJECTID', 'VILNAM_SOI','block_name','sdtname_2','geometry']

In [140]:
vil4 =vil_bm[['objectid', 'vilname11','block_name','sdtname', 'geometry']]
vil4.columns = ['OBJECTID', 'VILNAM_SOI','block_name','sdtname_2', 'geometry']

In [141]:
master  = pd.concat([vil1, vil2, vil3, vil4], axis=0)
master.replace('', np.nan, inplace=True)
master.replace(' ', np.nan, inplace=True)

In [142]:
master = master.dropna()
master.shape

(82080, 5)

In [143]:
master[master['OBJECTID']==33142]

,OBJECTID,VILNAM_SOI,block_name,sdtname_2,geometry
2,33142,UDOYPUR KOIBARTA,DEMOW,Dimow,"MULTIPOLYGON (((94.72774 27.17376, 94.72653 27..."

In [144]:
master = master.drop_duplicates(['VILNAM_SOI','OBJECTID'])
master.shape

(81093, 5)

In [145]:
master = gpd.GeoDataFrame(master).to_crs('EPSG:4326')

In [146]:
rc_gdf = gpd.read_file('Maps/Assam_Revenue_Circles/assam_revenue_circle_nov2022.geojson', driver='GeoJSON')
rc_gdf.tail()

,revenue_ci,district_3,object_id,district_1,revenue_cr,HQ,area,are_new,geometry
175,Sapekhati,CHARAIDEO,278,Charaideo,Sapekhati,None,3.943284e+08,394,"MULTIPOLYGON (((95.10936 27.12364, 95.10927 27..."
176,Sonari,CHARAIDEO,279,Charaideo,Sonari,y,3.845428e+08,385,"MULTIPOLYGON (((94.95742 27.06354, 94.95822 27..."
177,Ujani Majuli,MAJULI,280,Majuli,Ujani Majuli,None,3.221681e+08,322,"MULTIPOLYGON (((94.33804 26.89186, 94.33850 26..."
178,Majuli,MAJULI,281,Majuli,Majuli,None,6.484667e+08,648,"MULTIPOLYGON (((94.56453 27.18172, 94.56755 27..."
179,Phuloni,K.ANGLONG,275,K.ANGLONG,Phuloni,None,3.303172e+09,3303,"MULTIPOLYGON (((92.88407 26.38783, 92.88894 26..."

In [147]:
result_gdf = gpd.sjoin(master,
                       rc_gdf,
                       how="left",
                       op="intersects")

/home/krishna/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3377: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if (await self.run_code(code, result,  async_=asy)):

In [148]:
intersection_result = gpd.overlay(master, rc_gdf, how = 'intersection')
intersection_result

/tmp/ipykernel_299927/328962174.py:1: UserWarning: `keep_geom_type=True` in overlay resulted in 49680 dropped geometries of different geometry types than df1 has. Set `keep_geom_type=False` to retain all geometries
  intersection_result = gpd.overlay(master, rc_gdf, how = 'intersection')

,OBJECTID,VILNAM_SOI,block_name,sdtname_2,revenue_ci,district_3,object_id,district_1,revenue_cr,HQ,area,are_new,geometry
0,532836,KYAR PUR,GOSSAIGAON,Gossaigaon (Pt),Gossaigaon (Pt),KOKRAJHAR,101,Kokrajhar,Gossaigaon (Pt),None,1.068572e+09,1069,"POLYGON ((89.88092 26.36560, 89.88202 26.36387..."
1,532840,THAKURPUR,GOSSAIGAON,Gossaigaon (Pt),Gossaigaon (Pt),KOKRAJHAR,101,Kokrajhar,Gossaigaon (Pt),None,1.068572e+09,1069,"POLYGON ((89.89745 26.35838, 89.89759 26.35558..."
2,532855,KARLING PUR,GOSSAIGAON,Gossaigaon (Pt),Gossaigaon (Pt),KOKRAJHAR,101,Kokrajhar,Gossaigaon (Pt),None,1.068572e+09,1069,"POLYGON ((89.89359 26.36808, 89.89423 26.36674..."
3,532857,ANANDAPUR,GOSSAIGAON,Gossaigaon (Pt),Gossaigaon (Pt),KOKRAJHAR,101,Kokrajhar,Gossaigaon (Pt),None,1.068572e+09,1069,"POLYGON ((89.87527 26.37085, 89.87535 26.37038..."
4,532872,GREHAMPUR GAON,GOSSAIGAON,Gossaigaon (Pt),Gossaigaon (Pt),KOKRAJHAR,101,Kokrajhar,Gossaigaon (Pt),None,1.068572e+09,1069,"POLYGON ((89.88305 26.36035, 89.88257 26.35862..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99116,18344,Falimari,FEKAMARI,South Salmara,Mankachar,SOUTH SALMARA MANCACHAR,257,South Salmara Mancachar,Mankachar,None,2.486782e+08,249,"MULTIPOLYGON (((89.91409 25.77733, 89.91406 25..."
99117,18349,Nilokhia Pt.III,SOUTH SALMARA,South Salmara,Mankachar,SOUTH SALMARA MANCACHAR,257,South Salmara Mancachar,Mankachar,None,2.486782e+08,249,"POLYGON ((89.85674 25.78875, 89.85674 25.78868..."
99118,18350,Fdimarichar No-3,SOUTH SALMARA,South Salmara,Mankachar,SOUTH SALMARA MANCACHAR,257,South Salmara Mancachar,Mankachar,None,2.486782e+08,249,"POLYGON ((89.89602 25.79078, 89.89599 25.79066..."
99119,18355,Nilokhia Pt.IV,SOUTH SALMARA,South Salmara,Mankachar,SOUTH SALMARA MANCACHAR,257,South Salmara Mancachar,Mankachar,None,2.486782e+08,249,"POLYGON ((89.86344 25.78888, 89.86250 25.78898..."
99120,37186,Thakurarbari,MANKACHAR,Mankachar,Mankachar,SOUTH SALMARA MANCACHAR,257,South Salmara Mancachar,Mankachar,None,2.486782e+08,249,"MULTIPOLYGON (((89.86883 25.52149, 89.86898 25..."

In [149]:
intersection_result['intersection_area'] = intersection_result.geometry.area

/tmp/ipykernel_299927/763243640.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  intersection_result['intersection_area'] = intersection_result.geometry.area

In [150]:
max_indices = intersection_result.groupby(['OBJECTID', 'VILNAM_SOI'])['intersection_area'].idxmax()

In [151]:
intersection_result = intersection_result.loc[max_indices]

In [153]:
intersection_result.columns = ['OBJECTID', 'VILNAM_SOI', 'block_name', 'sdtname_2', 'revenue_ci',
       'district_2', 'object_id', 'district_1', 'revenue_cr', 'HQ', 'area',
       'are_new', 'geometry', 'intersection_area']

In [156]:
intersection_result[['OBJECTID', 'VILNAM_SOI','block_name','sdtname_2','revenue_ci', 'district_2', 'object_id',
       'district_1', 'revenue_cr']].to_csv('Maps/ASSAM_VILLAGES_MASTER.csv',
               index=False)

In [ ]:
VILLAGE_CORRECTION_DICT = {
    "SOKARBILA(BOLGARBARI)(DARIAPAR" : "SOKARBILA(BOLGARBARI)(DARIAPAR)",
    "MANGALDAI EXTENDED TOWN (BHEBA" : "MANGALDAI EXTENDED TOWN (BHEBA)",
    "UPPER DIHING R.F. (SOUTH BLOCK" : "UPPER DIHING R.F. (SOUTH BLOCK)",
    "KACHARI MAITHCHAGAON NO.1(BAR" : "KACHARI MAITHCHAGAON NO.1(BAR)",
}

In [ ]:
import re
# Create dictionary for FOCUS DISTRICTS
FOCUSDIST_village_dict = {}
FOCUSDIST_block_dict = {}
FOCUSDIST_subdistrict_dict = {}
FOCUSDIST_revcircle_dict = {}
FOCUSDIST_district_dict = {}
for index,row in ASSAM_VILLAGES[ASSAM_VILLAGES.district_2=='KAMRUP'].iterrows():
    if row["VILNAM_SOI"]:
        row["VILNAM_SOI"] = re.sub(r'[^a-zA-Z]', "", row["VILNAM_SOI"])
        if row["VILNAM_SOI"] in VILLAGE_CORRECTION_DICT:
            row["VILNAM_SOI"] = VILLAGE_CORRECTION_DICT[row["VILNAM_SOI"]]

        FOCUSDIST_village_dict[row["VILNAM_SOI"]] = {"village_id" : row["OBJECTID"],
                                                 "block_name" : row["block_name"],
                                                 "subdistrict" : row["sdtname_2"],
                                                 "revenuecircle": row["revenue_ci"],
                                                 "district_2" : row["district_2"]}

    FOCUSDIST_block_dict[row["block_name"]] = {"subdistrict" : row["sdtname_2"],
                                           "revenuecircle": row["revenue_ci"],
                                           "district_2" : row["district_2"]}

    FOCUSDIST_subdistrict_dict[row["sdtname_2"]] = {"district_2" : row["district_2"]} 
    FOCUSDIST_revcircle_dict[row["revenue_ci"]] = {"district_2" : row["district_2"]} 
    FOCUSDIST_district_dict[row["district_2"]] = True

try:
    del FOCUSDIST_village_dict['RIVER']
    del FOCUSDIST_block_dict['JORHAT']
except:
    pass

FOCUSDIST_villages = list(FOCUSDIST_village_dict.keys())
FOCUSDIST_blocks = list(FOCUSDIST_block_dict.keys())
FOCUSDIST_subdistricts = list(FOCUSDIST_subdistrict_dict.keys())
FOCUSDIST_revcircles = list(FOCUSDIST_revcircle_dict.keys())

In [ ]:
ASSAM_VILLAGES[ASSAM_VILLAGES.district_2=='KAMRUP'].revenue_ci.unique()

In [ ]:
FOCUSDIST_revcircles

In [ ]:
vil2.columns

In [ ]:
vil_bm

In [ ]:
pd.set_option("display.max_columns", 50)

In [ ]:
df = pd.read_csv('CivicDataLab_ Assam Public Procurement Data _ #not-to-be-shared - ocds_mapped_compiled.csv')
df.head()

In [ ]:
df.shape

In [ ]:
df.nunique()

In [ ]:
df.groupby(['tender/procurementMethod','tender/contractType'])[['ocid']].count()
#tender/procurementMethod

In [ ]:
df[df['tender/id']=='2020_ICD_17349_1']

In [ ]:
positive_kw =  ['Flood', 'Embankment', 'embkt', 'Relief', 'Erosion', 'SDRF', 'River', 'Inundation', 'Hydrology', 'Silt', 'Siltation', 'Bund', 'Trench', 'Drain', 'Culvert', 'Sluice', 'Bridge', 'Dyke', 'Storm water drain']
positive_kw = [kw.lower() for kw in positive_kw]
negative_kw = ['Driver', 'Floodlight', 'Flood Light']
negative_kw = [kw.lower() for kw in negative_kw]

In [ ]:
df['flood_related_bool1'] = df['tender/title'].map(lambda x: max([word.lower() in positive_kw for word in x.split()]))
df['flood_related_bool2'] = df['tender/externalReference'].map(lambda x: max([word.lower() in positive_kw for word in x.split()]))

df['not_flood_related_bool1'] = df['tender/title'].map(lambda x: max([word.lower() in negative_kw for word in x.split()]))
df['not_flood_related_bool2'] = df['tender/externalReference'].map(lambda x: max([word.lower() in negative_kw for word in x.split()]))

In [ ]:
df['flood_related_bool']=(df['flood_related_bool1'])|(df['flood_related_bool2'])
df.drop(['flood_related_bool1','flood_related_bool2'],axis=1,inplace=True)

df['not_flood_related_bool']=(df['not_flood_related_bool1'])|(df['not_flood_related_bool2'])
df.drop(['not_flood_related_bool1','not_flood_related_bool2'],axis=1,inplace=True)

In [ ]:
flood_df = df[(df['flood_related_bool'])&(~df['not_flood_related_bool'])]

In [ ]:
flood_df = flood_df[['ocid','tender/title','tender/externalReference','tender/datePublished','tender/classification/description',
          'tender/mainProcurementCategory','tender/value/amount','tender/documents/id','buyer/name']]
flood_df.head()

In [ ]:
pd.set_option('display.max_colwidth', None)

In [ ]:
flood_df['tender/datePublished'] = pd.to_datetime(flood_df['tender/datePublished'])

In [ ]:
flood_df = flood_df.set_index('tender/datePublished')

In [ ]:
flood_df['tender/value/amount'].resample('W').sum().plot()

In [ ]:
flood_df['buyer/name'].value_counts()

In [ ]:
flood_df.sample(5)

## Earth Engine Data

In [ ]:
import ee
import geemap

ee.Authenticate()
ee.Initialize()

In [ ]:
#NDVI
admin2 = ee.FeatureCollection("FAO/GAUL_SIMPLIFIED_500m/2015/level2")
assam = admin2.filter(ee.Filter.eq('ADM1_NAME', 'Assam'))
geometry = assam.geometry()

assam_districts = ee.FeatureCollection("projects/ee-saikrishnadammalapati/assets/assam_districts");

dataset = ee.ImageCollection('COPERNICUS/S2')


#print(filtered.size())
def maskS2clouds(image):
    qa = image.select('QA60')
    cloudBitMask = 1 << 10;
    cirrusBitMask = 1 << 11;
    mask = qa.bitwiseAnd(cloudBitMask).eq(0).And(qa.bitwiseAnd(cirrusBitMask).eq(0));
    
    return image.updateMask(mask).divide(10000).select("B.*").copyProperties(image, ["system:time_start"]);

def addIndices(image):
  #  ndvi = image.normalizedDifference(['B8', 'B4']).rename('ndvi');
#    ndwi = image.normalizedDifference(['B3', 'B8']).rename('ndwi');
    mndwi = image.normalizedDifference(['B3', 'B11']).rename(['mndwi']); 
#    ndti = image.normalizedDifference(['B4', 'B3']).rename(['ndti']); 
#    masked_ndti = ndti.mask(mndwi); #For NDTI - we use MNDWI as mask

    return image.addBands(mndwi);

for year in range(2017,2018):
    print(year)
    filtered = dataset.filter(ee.Filter.lt('CLOUDY_PIXEL_PERCENTAGE', 30)).filter(ee.Filter.date(str(year)+'-01-01', str(year)+'-02-01')).filter(ee.Filter.bounds(geometry));
    filtered = filtered.map(maskS2clouds);
    withIndices = filtered.map(addIndices);
    mndwi = withIndices.select('mndwi').toBands()
    
    #MNDWI - Assam State Level.
    geemap.zonal_statistics(mndwi, assam, str(year)+'_mndwi.csv', statistics_type='MEAN', scale=10)

In [ ]:
for year in range(2017,2022):
    print(year)
    filtered = dataset.filter(ee.Filter.lt('CLOUDY_PIXEL_PERCENTAGE', 30)).filter(ee.Filter.date(str(year)+'-01-01', str(year+1)+'-04-22')).filter(ee.Filter.bounds(geometry));
    filtered = filtered.map(maskS2clouds);
    withIndices = filtered.map(addIndices);
    mndwi = withIndices.select('mndwi').toBands()
    
    #NDVI - Delhi UT Level.
    geemap.zonal_statistics(mndwi, assam_districts, str(year)+'assam_districts_mndwi.csv', statistics_type='MEAN', scale=10)

In [ ]:
for year in range(2018,2022):
    print(year)
    filtered = dataset.filter(ee.Filter.lt('CLOUDY_PIXEL_PERCENTAGE', 30)).filter(ee.Filter.date(str(year)+'-01-01', str(year+1)+'-04-22')).filter(ee.Filter.bounds(geometry));
    filtered = filtered.map(maskS2clouds);
    withIndices = filtered.map(addIndices);
    ndti = withIndices.select('ndti').toBands()

    
    #NDVI - Delhi UT Level.
    geemap.zonal_statistics(ndti, delhi, str(year)+'_ndti.csv', statistics_type='MEAN', scale=10)

In [ ]:
# Create a geometry representing an export region.
admin2 = ee.FeatureCollection("FAO/GAUL_SIMPLIFIED_500m/2015/level2")
assam = admin2.filter(ee.Filter.eq('ADM1_NAME', 'Assam'))
geometry = assam.geometry()

In [ ]:
### THIS IS FOR RASTER EXPORTS -- NOT NEEDED.


s2 = ee.ImageCollection("COPERNICUS/S2")
rgbVis = {
  'min': 0.0,
  'max': 3000,
  'bands': ['B4', 'B3', 'B2'],
}

# Write a function for Cloud masking
def maskS2clouds(image):
    qa = image.select('QA60')
    cloudBitMask = 1 << 10
    cirrusBitMask = 1 << 11
    mask = qa.bitwiseAnd(cloudBitMask).eq(0).And(
             qa.bitwiseAnd(cirrusBitMask).eq(0))
    return image.updateMask(mask) \
      .select("B.*") \
      .copyProperties(image, ["system:time_start"])

filtered = s2 \
  .filter(ee.Filter.date('2020-01-01', '2020-01-03')) \
  .filter(ee.Filter.lt('CLOUDY_PIXEL_PERCENTAGE', 30)) \
  .filter(ee.Filter.bounds(geometry)) \
  .map(maskS2clouds)

# Write a function that computes NDVI for an image and adds it as a band
def add_Indices(image):
    ndvi = image.normalizedDifference(['B5', 'B4']).rename('ndvi')
    mndwi = image.normalizedDifference(['B3', 'B11']).rename('mndwi'); 
    return image.addBands(ndvi).addBands(mndwi)

withIndices = filtered.map(add_Indices)

In [ ]:
image_ids = withIndices.aggregate_array('system:index').getInfo()
print('Total images: ', len(image_ids))

In [ ]:

import time

for i, image_id in enumerate(image_ids):
    image = ee.Image(withIndices.filter(ee.Filter.eq('system:index', image_id)).first())
    task = ee.batch.Export.image.toDrive(**{
        'image': image.select('mndwi'),
        'description': 'MNQWI Export {}'.format(i+1),
        'fileNamePrefix': image.id().getInfo(),
        'folder':'earthengine',
        'scale': 100,
        'region': image.geometry().bounds().getInfo()['coordinates'],
        'maxPixels': 1e10
    })
    
    task.start()

    print('Started Task: ', i+1)
    while task.active():
        print('Polling for task (id: {}).'.format(task.id))
        time.sleep(10)

In [ ]:
import psycopg2
conn = psycopg2.connect(database='mndwi', user='postgres',password='MyPo$tgre$ql123')
curs = conn.cursor()

In [ ]:
#http://remote-sensing.org/managing-raster-data-with-postgis-and-python/ -- automating uploading rasters to postgis
#https://www.youtube.com/watch?v=js91cjVYRxs

In [ ]:
from gdal import gdal

In [ ]:
pip install geopandas

In [ ]:
import psycopg2
conn = psycopg2.connect(database='assamfloods_cdl',host='postgresql-assamfloods.alwaysdata.net', user='assamfloods',password='123asdf!@#')
curs = conn.cursor()

In [ ]:
gpd.read_file('assam_districts.geojson').to_file('assam_districts.shp')

In [ ]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

In [ ]:

cloud_config= {
        'secure_connect_bundle': 'secure-connect-telusko.zip'
}
auth_provider = PlainTextAuthProvider('HTriMMsAyjXmghPgxSsqiSRm', '+RFjU-tPxYwMcx.aIwWdUNt+QB4,gkK61esIcrtKCYKaQ1KKNoC8stiF7w2beQO3HT4wPq61PkmU8nfEGrS_9ULHUDfO+BjuQS83hH3nv2mlm9tP-zRsT5YUCFNRC9Oa')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

# POSTGRES UPLOAD

In [ ]:
import psycopg2
import os
import pandas as pd
import numpy as np
import pandas.io.sql as psql

In [ ]:
DB_HOST = 'database-1.cbt96hk2snbv.ap-south-1.rds.amazonaws.com'
DB_NAME = 'procurements'
DB_USER = 'cdl'
DB_PASS = 'cdl@123'

In [ ]:
conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=5432)
cursor = conn.cursor()

In [ ]:
#Import the required file to be loaded.
df = pd.read_csv('CivicDataLab_ Assam Public Procurement Data _ #not-to-be-shared - ocds_mapped_compiled.csv')

In [ ]:
# Schema Design:
schema_name = 'assam_procurements'
table1_name = 'tenders_static' # For fields that would be written only once.
table2_name = 'tenders_update' # For fields that would see constant updates. (tender_status etc)


# 1NF Remove Duplicates and multivalued columns (if any)
df = df.drop_duplicates(subset='ocid').reset_index(drop=True)

# Clean column headers
df.columns = [column_name.lower().replace(" ","_").replace(r'/','_') for column_name in df.columns]

df.head()

In [ ]:
# Clean column types and map to POSTGRES types
df.date = pd.to_datetime(df.date)
df.tender_bidopening_date = pd.to_datetime(df.tender_bidopening_date)
df.tender_milestones = pd.to_datetime(df.tender_milestones)
df.tender_milestones_duedate = pd.to_datetime(df.tender_milestones_duedate)
df.tender_datepublished = pd.to_datetime(df.tender_datepublished)


psql_types = {'object':'varchar',
               'int64':'int',
               'datetime64[ns, UTC]': 'timestamp',
             'datetime64[ns]': 'timestamp'}

In [ ]:
# Create Schema in DB
create_schema = '''CREATE SCHEMA IF NOT EXISTS {}'''.format(schema_name)
cursor.execute(create_schema)
conn.commit()

In [ ]:
# Table 1 - Static
df_static = df.drop(['tender_stage','tender_status'],axis=1)
cols_table_1 = ', '.join("{} {}".format(n, d) for (n, d) in zip(df_static.columns, df_static.dtypes.astype(str).replace(psql_types)))

In [ ]:
cursor.execute("SET search_path TO {}".format(schema_name))
create_table = '''CREATE TABLE IF NOT EXISTS {} ({}, PRIMARY KEY (ocid));'''.format(table1_name, cols_table_1)
cursor.execute(create_table)
cursor.execute('''ALTER TABLE {} ALTER COLUMN tender_value_amount TYPE numeric'''.format(table1_name))
conn.commit()

In [ ]:
#insert values to table1
cursor.execute("SET search_path TO {}".format(schema_name))
dataframe = psql.read_sql('''SELECT ocid FROM {};'''.format(table1_name), conn)
merged = df_static.merge(dataframe,on='ocid',how='left', indicator=True)
merged = merged[merged["_merge"]=='left_only'].drop('_merge',axis=1)
merged.to_csv('data.csv',index=False,header=merged.columns,encoding='utf-8')

# Only these two should go into the static db.

data = open('data.csv')


insert = ''' COPY {} FROM STDIN WITH
            CSV
            HEADER
            DELIMITER AS ',';
            '''.format(table1_name)

cursor.copy_expert(sql=insert, file=data)
conn.commit()
print('Success!')


## If a new csv with duplicates is to be added to this table - ensure that the latest is added.

In [ ]:
# Table 2 - Updates
cursor.execute("SET search_path TO {}".format(schema_name))
df_updates = df[['ocid','date','tender_stage','tender_status']]
cols_table_2 = ', '.join("{} {}".format(n, d) for (n, d) in zip(df_updates.columns, df_updates.dtypes.astype(str).replace(psql_types)))
create_table = '''CREATE TABLE IF NOT EXISTS {} ({}, FOREIGN KEY (ocid) REFERENCES {}(ocid));'''.format(table2_name, cols_table_2, table1_name)
cursor.execute(create_table)
conn.commit()

In [ ]:
#insert values to table2
cursor.execute("SET search_path TO {}".format(schema_name))
dataframe = psql.read_sql('''SELECT ocid, date FROM {};'''.format(table2_name), conn)
dataframe['date'] = pd.to_datetime(dataframe['date'], utc = True)
merged = df_updates.merge(dataframe.head(),how='left',on=['ocid','date'],indicator=True)
merged = merged[merged['_merge']=='left_only'].drop('_merge',axis=1) 
merged.to_csv('data.csv',index=False,header=df_updates.columns,encoding='utf-8')

data = open('data.csv')

insert = ''' COPY {} FROM STDIN WITH
            CSV
            HEADER
            DELIMITER AS ',';
            '''.format(table2_name)


cursor.copy_expert(sql=insert, file=data)
conn.commit()
print('Success!')

In [ ]:
cursor.execute("SET search_path TO {}".format(schema_name))
cursor.execute("DROP TABLE {}".format(table2_name))
cursor.execute("DROP TABLE {}".format(table1_name))
conn.commit()

In [ ]:
cursor.execute("SET search_path TO {}".format(schema_name))
dataframe = psql.read_sql('''SELECT ocid, date FROM {};'''.format(table2_name), conn)

In [ ]:
dataframe

In [ ]:
data = open('data.csv')

In [ ]:
data

In [ ]:
data.close()

In [ ]:
data

In [ ]:
merged.to_csv('data.csv',index=False,header=df_updates.columns,encoding='utf-8')

In [ ]:
AWS_ACCESS_KEY_ID = 'AKIAU4AADMBMHJCSPPHE'
AWS_SECRET_ACCESS_KEY = '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'

In [ ]:
import boto3

s3 = boto3.resource(
        service_name='s3',
        region_name='ap-south-1',
        aws_access_key_id=AWS_ACCESS_KEY_ID,
        aws_secret_access_key=AWS_SECRET_ACCESS_KEY
    )

In [ ]:
g ='CivicDataLab_ Assam Public Procurement Data _ #not-to-be-shared - ocds_mapped_compiled.csv'
if g in [i.key for i in s3.Bucket('assamtenders').objects.all()]:
    g = g.split('.csv')[0]+str(1)+'.csv'

In [ ]:
cols_table_1

In [ ]:
c =[1,2,3]
d = [1,3,2]

In [ ]:
set(c)==set(d)

In [ ]:
river_df = flood_df[(flood_df['tender/title'].str.contains('River'))|(flood_df['tender/title'].str.contains('river'))]

In [ ]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
url = 'https://en.wikipedia.org/wiki/List_of_rivers_of_Assam'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
parent = soup.find_all("ul")

In [ ]:
assam_rivers = []
for ultag in parent[1:3]:
    for litag in ultag.find_all('li'):
        assam_rivers.append(litag.text.split('River')[0].strip().lower())

In [ ]:
conn = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=5432)
cursor = conn.cursor()

In [ ]:
conn.close()

In [ ]:
dataframeq = psql.read_sql('''SELECT * FROM assam_procurements.tender_river;''', conn)
dataframeq

In [ ]:
cursor.execute("DROP TABLE assam_procurements.assam_rivers")
conn.commit()

In [ ]:
rivers = []
for title in river_df['tender/title']:
    title = title.replace(',',' ').replace('_',' ').replace('.',' ').replace('ofriver','river').replace('Riverbank','River')
    if 'river' in title:
        idx = title.split().index('river')
        prefix = title.split()[idx-1]
        
        try:
            suffix = title.split()[idx+1]    
        except:
            pass
            
        if prefix in ['samoka']:
            river = prefix
        elif suffix in ['brahmaputra','kollong']:
            river = suffix
        elif (prefix[0].isupper())&(len(prefix)>=4):
            river = prefix
        elif (suffix[0].isupper())&(len(suffix)>=4):
            river = suffix
        else:
            river = np.NaN
            
    else:
        idx = title.split().index('River')
        prefix = title.split()[idx-1]
        try:
            suffix = title.split()[idx+1] 
        except:
            pass
            
        if prefix in ['samoka']:
            river = prefix
        elif suffix in ['brahmaputra','kollong']:
            river = suffix
        elif (prefix[0].isupper())&(len(prefix)>=4):
            river = prefix
        elif (suffix[0].isupper())&(len(suffix)>=4):
            river = suffix
        else:
            river = np.NaN
    
    rivers.append(river)

In [ ]:
river_df

In [ ]:
r1 = list(set(rivers).copy()-set([np.NaN]))
r1.sort(reverse=True)
r2 = list(set(rivers).copy()-set([np.NaN]))
r2.sort()

In [ ]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
fuzz.ratio('Deojara', 'Deojhara')

In [ ]:
len(r2)

In [ ]:
def remove_spelling_mistakes(r1, r2):
    for i in r1:
        scores = []
        for j in r2:
            scores.append(fuzz.ratio(i, j))
        while max(scores) == 100:
            scores[scores.index(100)] = -1

        if max(scores) >= 80:
            change = r2[scores.index(max(scores))]
            to_delete = r1[r1.index(i)]
            r1[r1.index(i)] = change
            r2[r2.index(to_delete)] = change
    return r1, r2

In [ ]:
k = True
elbow = []
while k:
    r1,r2 = remove_spelling_mistakes(r1,r2)
    elbow.append(len(set(r2)))
    print(len(set(r2)))
    if (len(elbow)>=2):
        if (elbow[-1]==elbow[-2]):
            k=False

In [ ]:
set(r2)

In [ ]:
len(set(r1))

In [ ]:
r2[scores.index(max(scores))]

In [ ]:
set(r2)

In [ ]:
r1.sort(reverse=True)

In [ ]:
r2.index('brahmaputra')

In [ ]:
l = [1,13,5,1]

In [ ]:
l.remove(1)

In [ ]:
sorted(dataframeq.river_name)

In [ ]:
rivers = []
for k in flood_df['tender/title']:
    words = k.replace(',', ' ').replace('_', ' ').\
        replace('.', ' ').replace('ofriver', 'river').\
        replace('Riverbank','river').replace('-',' ').replace('RIVER','river').replace('River','river').split()
    try:
        idx = words.index('river')
    except:
        rivers.append(np.NaN)
        continue
    prefix = words[idx-1]
    try:
        suffix = words[idx+1]
    except:
        suffix = None

    scores_p = []
    scores_s = []
    l =list(dataframeq.id)
    
    for j in list(dataframeq.river_name):
        scores_p.append(fuzz.ratio(j,prefix))
        scores_s.append(fuzz.ratio(j,suffix))
    
    if max(scores_p)>=max(scores_s):
        river = l[scores_p.index(max(scores_p))]
    elif max(scores_p)<max(scores_s):
        river = l[scores_s.index(max(scores_s))]
    else:
        river = np.NaN
        
    rivers.append(river)

In [ ]:
flood_df['river'] = rivers

In [ ]:
flood_df['river'].astype('int')