In [1]:
import urllib.request
import camelot
import pandas as pd
import regex as re
import pygsheets
from datetime import date, timedelta, datetime
import numpy as np
import glob

In [2]:
def add_standard_subdistrict_column(df):
    sub_districts = pd.read_csv('FRIMS_Daily_Reports/assam_sub_district_FRIMSDATA - assam_sub_district.csv')
    #Fix the standard sub-district names
    standard_sub_dist_names = list(sub_districts.sdtname)
    #Empty list to store the standard names of each revenue-circle in our dataframe
    standard_names = []

    for rev_circle in list(df['Revenue circle']):
        #Empty list to store scores
        matches = []
        #Position of selected state in the list. We need it because, we will have to rename it with stadard value later.
        statepos = list(df['Revenue circle']).index(rev_circle)
    
        for standard in standard_sub_dist_names:
            matches.append(similar(rev_circle, standard))    
        
        #Position of the maximum score in the list. We will use it to know what is the standard state name for every state.  
        maxpos = matches.index(max(matches))
        standard_names.append(standard_sub_dist_names[maxpos])


    df['Sub-District'] = pd.DataFrame(standard_names)
    return df

In [3]:
#Sequence Matcher helps us get the metric that measures how two strings are matching
from difflib import SequenceMatcher

#We will write a function that gives us matching score between two strings a and b. Higher the score,better the match
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [420]:
date = '18.07.2022'

In [131]:
daily_report_url = 'http://www.asdma.gov.in/pdf/flood_report/2022/Daily_Flood_Report_'+date+'.pdf'
urllib.request.urlretrieve(daily_report_url, r"D:/Projects/OCDS/FRIMS_Daily_Reports/FRIMS_"+date+".pdf")

('D:/Projects/OCDS/FRIMS_Daily_Reports/FRIMS_01.06.2022.pdf',
 <http.client.HTTPMessage at 0x1d527a98040>)

In [421]:
pdf_file = r"D:/Projects/OCDS/FRIMS_Daily_Reports/FRIMS_"+date+".pdf"
tables = camelot.read_pdf(pdf_file,pages='all')
tables

In [422]:
df = pd.DataFrame()
for i in range(0,len(tables)):
    df = pd.concat([df,tables[i].df],axis=0, ignore_index=True)

## Infrastructure Damaged - Embankment Affected

In [423]:
df[0] = df[0].str.replace(r'\n','')
df[0] = df[0].str.lower()

C:\Users\saikr\AppData\Local\Temp/ipykernel_3836/1657678534.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df[0] = df[0].str.replace(r'\n','')

In [428]:
start = df[df[0].isin(['infrastructure damaged - embankment affected','infrastructure damaged - embankments affected'])].index.values[0]
start
#df[df[0].isin(['infrastructure damaged - embankment breached','infrastructure damaged - embankments breached'])].index.values[0]

66

In [430]:
for index,row in df[start+1:].iterrows():
    if row[0]=='':
        continue
    else:
        end = index
        break
end

69

In [431]:
df[start:end]

,0,1,2,3,4,5,6,7,8,9,10,11
66,infrastructure damaged - embankment affected,District,Numbe\nr,Details,,,,,,,,NaN
67,,Biswanath,1,Gohpur - Sessa River R/Bank embankment | Ougur...,,,,,,,,NaN
68,,Total,1,,,,,,,,,NaN

In [434]:
df_embankment_affected = df.loc[start:end-1,:3].reset_index(drop=True)
df_embankment_affected.columns=df_embankment_affected.iloc[0].str.replace(r'\n','')
df_embankment_affected = df_embankment_affected.loc[1:,:]

C:\Users\saikr\AppData\Local\Temp/ipykernel_3836/706613745.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  kf.columns=kf.iloc[0].str.replace(r'\n','')

In [435]:
df_embankment_affected['District'] = df_embankment_affected['District'].str.replace(r'\n','')
df_embankment_affected['Details'] = df_embankment_affected['Details'].str.replace(r'\n','')
df_embankment_affected

C:\Users\saikr\AppData\Local\Temp/ipykernel_3836/198207134.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  kf['District'] = kf['District'].str.replace(r'\n','')
C:\Users\saikr\AppData\Local\Temp/ipykernel_3836/198207134.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  kf['Details'] = kf['Details'].str.replace(r'\n','')

,infrastructure damaged - embankment affected,District,Number,Details
1,,Biswanath,1,Gohpur - Sessa River R/Bank embankment | Ougur...
2,,Total,1,

In [384]:
len(df_embankment_affected[df_embankment_affected.Number==''].index.values)

2

In [388]:
if len(df_embankment_affected[df_embankment_affected.Number==''].index.values) >0 :
    df_embankment_affected['Details'][kf[kf.Number==''].index.values[0]-1] = kf['Details'][kf[kf.Number==''].index.values[0]-1]+' '+kf['District'][kf[kf.Number==''].index.values[0]]
    kf['Details'][kf[kf.Number==''].index.values[0]] = np.nan

In [391]:
kf.dropna()

,infrastructure damaged - embankment affected,District,Number,Details
1,,Biswanath,1,Halem - Chattrang Embankent | Majgaon | As rep...
2,,Nagaon,1,Raha - CHARAIHAGI TO TAKALATUP DYKE | PUB DARA...

In [274]:
dates = []
for file in glob.glob('FRIMS_Daily_Reports/*.pdf'):
    date = file.split('FRIMS_')[-1].split('.pdf')[0]
    dates.append(date)
done_dates = []
issue_dates = []

In [405]:
issue_dates=['02.06.2022',
 '23.06.2022',
 '18.05.2022',
 '23.07.2022',
 '04.07.2022',
 '27.05.2022',
 '27.06.2022',
 '03.06.2022',
 '02.08.2022',
 '16.08.2022']

In [406]:
for date in set(issue_dates):
    print(date)
    FRIMS_pdf_file = r"D:/Projects/OCDS/FRIMS_Daily_Reports/FRIMS_"+date+".pdf"
    tables = camelot.read_pdf(FRIMS_pdf_file,pages='all')
    
    FRIMS_DF = pd.DataFrame()
    
    for i in range(0,len(tables)):
        FRIMS_DF = pd.concat([FRIMS_DF,tables[i].df],axis=0, ignore_index=True)
    
    FRIMS_DF[0] = FRIMS_DF[0].str.replace(r'\n','',regex=True)
    FRIMS_DF[0] = FRIMS_DF[0].str.lower()
    
    try:
        START_DAMAGE_EMBANKMENT_AFFECTED = FRIMS_DF[FRIMS_DF[0].isin(['infrastructure damaged - embankment affected',
                                                                  'infrastructure damaged - embankments affected']
                                                                )].index.values[0]
    except:
        issue_dates.append(date)
        print('Issue with Embankment affected table - Row header across multiple pages')
        print("----")
        pass
    
    
    for index,row in FRIMS_DF[START_DAMAGE_EMBANKMENT_AFFECTED+1:].iterrows():
        if row[0]=='':
            continue
        else:
            END_DAMAGE_EMBANKMENT_AFFECTED = index
        break
    #try:
        #END_DAMAGE_EMBANKMENT_AFFECTED = FRIMS_DF[FRIMS_DF[0]=='infrastructure damaged - road'].index.values[0]-2
#     except:
#         issue_dates.append(date)
#         print('Issue with Road damage table - Row header across multiple pages')
#         print("----")
#         continue
    
    if END_DAMAGE_EMBANKMENT_AFFECTED <= START_DAMAGE_EMBANKMENT_AFFECTED:
        print("No data for: ",date)
        done_dates.append(date)
        print("----")
        continue
    
    FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED = FRIMS_DF.loc[START_DAMAGE_EMBANKMENT_AFFECTED:END_DAMAGE_EMBANKMENT_AFFECTED,:3].reset_index(drop=True)
    
    FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED.columns=FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED.iloc[0].str.replace(r'\n','',regex=True)
    FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED = FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED.loc[1:,:]
    FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED['District'] = FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED['District'].str.replace(r'\n','',regex=True)
    FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED['Details'] = FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED['Details'].str.replace(r'\n','',regex=True)
    
    #Club cells from different pages
    if len(FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED[FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED.Number==''].index.values)>0:
        
        EMPTY_ROW_INDEX = FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED[FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED.Number==''].index.values[0]
        
        EMPTY_ROW_DETAIL = FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED['Details'][EMPTY_ROW_INDEX]
        ROW_ABOVE_DETAIL = FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED['Details'][EMPTY_ROW_INDEX-1]
        
        try:
            COMBINED_DETAIL = ROW_ABOVE_DETAIL+' '+EMPTY_ROW_DETAIL
        except:
            issue_dates.append(date)
            print('Issue with new pages')
            print("----")
        
        FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED['Details'][EMPTY_ROW_INDEX-1] = COMBINED_DETAIL
        FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED['Details'][EMPTY_ROW_INDEX] = np.nan
        FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED = FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED.dropna()
    
    done_dates.append(date)
    date = date.replace('.','-')
    FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED['Date'] = date
    FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED.reset_index(drop=True).to_csv(r'D:/Projects/OCDS/FRIMS_Daily_Reports/FRIMS_EMBANKMENTS_AFFECTED/FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED_'+str(date)+'.csv')
    print('----')

03.06.2022

KeyError: 'District'

In [416]:
FRIMS_DAMAGE_EMBANKMENT_AFFECTED_DFS = []
for FRIMS_DAMAGE_EMBANKMENT_AFFECTED_FILE in glob.glob(r'D:/Projects/OCDS/FRIMS_Daily_Reports/FRIMS_EMBANKMENTS_AFFECTED/FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED_*.csv'):
    FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED = pd.read_csv(FRIMS_DAMAGE_EMBANKMENT_AFFECTED_FILE)
    FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED = FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED.iloc[:,:]
    FRIMS_DAMAGE_EMBANKMENT_AFFECTED_DFS.append(FRIMS_DF_DAMAGE_EMBANKMENT_AFFECTED)

In [339]:
FRIMS_DAMAGE_EMBANKMENT_AFFECTED_DFS[0]

,Unnamed: 0,infrastructure damaged - embankment affected,District,Number,Details,Date
0,0,NaN,Bajali,1,Bajali - DRDA Bundh | Helona Rash Mandir | The...,01-07-2022
1,1,NaN,Dhubri,1,Chapar - Jamduar Pt-I Embankment | Jamduar Pt-...,01-07-2022
2,2,NaN,Dibrugarh,1,Tengakhat - T/Dyke along the L/Bank of River T...,01-07-2022
3,3,NaN,Karbi Anglong West,2,Donkamokam - Haldikrong Dyke | Haldikrong of K...,01-07-2022
4,4,NaN,Karimganj,1,Badarpur - Ledurkhal Sluice Gate | Mokoibhanga...,01-07-2022
5,5,NaN,Lakhimpur,4,Dhakuakhana - Korha Bund | Maj Jalbhari | Bank...,01-07-2022
6,6,NaN,Majuli,2,Majuli - Tuni dyke. | Namkatoni | Rain cuts on...,01-07-2022
7,7,NaN,Nagaon,2,Kampur - Uttar Changchaki And Dakhin Changchak...,01-07-2022
8,8,NaN,Sivasagar,1,Demow - Dehingia Gaon | Desang bund right bank...,01-07-2022

In [417]:
FRIMS_DAMAGE_EMBANKMENT_AFFECTED_MASTER = pd.concat(FRIMS_DAMAGE_EMBANKMENT_AFFECTED_DFS)
FRIMS_DAMAGE_EMBANKMENT_AFFECTED_MASTER.Date = pd.to_datetime(FRIMS_DAMAGE_EMBANKMENT_AFFECTED_MASTER.Date,format='%d-%m-%Y')

In [418]:
FRIMS_DAMAGE_EMBANKMENT_AFFECTED_MASTER.sort_values(by='Date').reset_index(drop=True).to_csv(r'D:/Projects/OCDS/FRIMS_Daily_Reports/FRIMS_DAMAGE_EMBANKMENT_AFFECTED_MASTER.csv',index=False)

In [419]:
issue_dates

['02.06.2022',
 '23.06.2022',
 '18.05.2022',
 '23.07.2022',
 '04.07.2022',
 '27.05.2022',
 '27.06.2022',
 '03.06.2022',
 '02.08.2022',
 '16.08.2022']

# OLD

In [15]:
'Karimgan\nj'.replace('\n','')

'Karimganj'

In [64]:
no_districts_affected = int(df.loc[5,1].split('\n')[0].strip())
no_districts_affected

ValueError: invalid literal for int() with base 10: 'Nil'

In [40]:
def replace_newlines(s):
    return s.replace('\n','')

df.iloc[:,0] = df.iloc[:,0].apply(replace_newlines)

In [41]:
start = df[0].str.find("Population").to_list().index(0)
#print(start)
end = df[0].str.find("Relief").to_list().index(0)-2
#print(end)
population_df = df.loc[start:end,:].reset_index(drop=True)
population_df.iloc[0,:-2] = population_df.iloc[0,:-2].apply(replace_newlines)
population_df

,0,1,2,3,4,5,6,7,8
0,Population And Crop Area Affected,District,Male,Female,Children,Total Population,Population Details,Crop Area \n( in Hect. ),Crop Area \nDetails
1,,Tamulpur,109,91,50,250,( Goreswar | \n250 ),0.00,( Goreswar | \n0.00 )

In [42]:
def prepare_population_affected_df():
    start = df[0].str.find("Population").to_list().index(0)
    #print(start)
    end = df[0].str.find("Relief").to_list().index(0)-2
    #print(end)
    population_df = df.loc[start:end,:].reset_index(drop=True)
    try:
        population_df.iloc[0,:-2] = population_df.iloc[0,:-2].apply(replace_newlines)
    except:
        pass

    
    try:
        population_details_index = df.loc[start,:].str.find('Population Details').to_list().index(0)
    except:
        population_details_index = 6
    
    l = ''
    districts=[]
    for idx, row in population_df.iloc[1:].iterrows():
        district = row[1]
        try:
            float(row[population_details_index])
        except:
            if row[population_details_index]=='':
                l = l+row[population_details_index+1]
                for i in range(row[population_details_index+1].count('|')):
                    districts.append(district.replace('\n',''))
            else:
                l = l+row[population_details_index]
                for i in range(row[population_details_index].count('|')):
                    districts.append(district.replace('\n',''))
        else:
            l = l+row[population_details_index+1]
            for i in range(row[population_details_index+1].count('|')):
                districts.append(district.replace('\n',''))    
            
    #l = l+'''Kalaigaon | 1986 ),( Udalguri | 155 )'''
    l = l.replace('\n','').replace(')(','),(').replace(') (','),(').replace('), (','),(')
    #print(l)
    
    revenue_circles = []
    population_affected = []
    for i in l.split(','):    
        rev_circle = i.split('|')[0].strip()
        rev_circle = re.sub(r'[^\w\s]', '', rev_circle).replace('\n','').strip()
    
        pop_affected = i.split('|')[1].strip()
        pop_affected = re.sub(r'[^\w\s]', '', pop_affected).replace('\n','').strip()
    
        revenue_circles.append(rev_circle)
        population_affected.append(pop_affected)
    
    population_affected_df = pd.DataFrame([districts, revenue_circles,population_affected]).T
    
    population_affected_df.columns = ['District', 'Revenue circle', 'Population affected']
    population_affected_df = add_standard_subdistrict_column(population_affected_df)

    
    return population_df, population_affected_df

In [43]:
a, b = prepare_population_affected_df()
b['Date'] = date.replace('.','-')

In [44]:
b

   District Revenue circle Population affected Sub-District        Date
0  Tamulpur       Goreswar                 250     Goreswar  16-08-2022

In [45]:
a

,0,1,2,3,4,5,6,7,8
0,Population And Crop Area Affected,District,Male,Female,Children,Total Population,Population Details,Crop Area \n( in Hect. ),Crop Area \nDetails
1,,Tamulpur,109,91,50,250,( Goreswar | \n250 ),0.00,( Goreswar | \n0.00 )

In [51]:
df.loc[start,:].str.find('Crop Area \nDetails').to_list().index(0)

8

In [54]:
def prepare_croparea_affected_df(population_df):
    start = df[0].str.find("Population").to_list().index(0)
    
    
    try:
        croparea_details_index = df.loc[start,:].str.find('Crop Area Details').to_list().index(0)
    
        #print(croparea_details_index)
    except:
        try:
            croparea_details_index = df.loc[start,:].str.find('Crop Area \nDetails').to_list().index(0)
        except:
            croparea_details_index=9
        
        
    l = ''
    districts=[]
    for idx, row in population_df[1:].iterrows():
        district = row[1]
    
        try:
            float(row[croparea_details_index].replace('\n',''))
        except:
            if row[croparea_details_index]=='':
                l = l+row[croparea_details_index+1]
                #print(row[croparea_details_index+1])
                for i in range(row[croparea_details_index+1].count('|')):
                    districts.append(district.replace('\n',''))
            else:
                l = l+row[croparea_details_index]
                for i in range(row[croparea_details_index].count('|')):
                    districts.append(district.replace('\n',''))
        else:
            l = l+row[croparea_details_index+1]
            #print(row[croparea_details_index+1])
            for i in range(row[croparea_details_index+1].count('|')):
                districts.append(district.replace('\n',''))
    
    #l = l+'''Kalaigaon | 0.00 ),( Udalguri | 0.00 )'''
    l = l.replace('\n','').replace(')(','),(').replace(') (','),(').replace('), (','),(')
    #print(l)
            
    revenue_circles = []
    croparea_affected = []
    for i in l.split(','):    
        rev_circle = i.split('|')[0].strip()
        rev_circle = re.sub(r'[^\w\s]', '', rev_circle).replace('\n','').strip()
    
        crop_affected = i.split('|')[1].strip().replace(')','').replace('\n','').strip()
        crop_affected = float(crop_affected)
    
        revenue_circles.append(rev_circle)
        croparea_affected.append(crop_affected)
    
    croparea_affected_df = pd.DataFrame([districts,revenue_circles,croparea_affected]).T
    croparea_affected_df.columns=['District','Revenue circle','Crop area affected']
    
    croparea_affected_df = add_standard_subdistrict_column(croparea_affected_df)


    return croparea_affected_df

In [55]:
c = prepare_croparea_affected_df(a)
c['Date'] = date.replace('.','-')

In [56]:
c

   District Revenue circle Crop area affected Sub-District        Date
0  Tamulpur       Goreswar                0.0     Goreswar  16-08-2022

# INMATES

In [57]:
start = df[0].str.find("Inmates").to_list().index(0)
end = df[0].str.find("Human").to_list().index(0)-2
print(end-start)
inmates_df = df.loc[start:end,:]
inmates_df

-1

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
Index: []

In [58]:
def prepare_camp_inmates_df():
    start = df[0].str.find("Inmates").to_list().index(0)
    end = df[0].str.find("Human").to_list().index(0)-2
    if (end-start)==-1:
        return pd.DataFrame(), pd.DataFrame()
    
    inmates_df = df.loc[start:end,:]
    
    inmates_details_index = df.loc[start,:].str.find('Revenue Circlewise').to_list().index(0)
    
    
    l = ''
    districts=[]
    for idx, row in inmates_df[1:].iterrows():
        district = row[1]
    
        try:
            float(row[inmates_details_index])
        except:
            if row[inmates_details_index]=='':
                l = l+row[inmates_details_index+1]
                for i in range(row[inmates_details_index+1].count('|')):
                    districts.append(district.replace('\n',''))
            else:
                l = l+row[inmates_details_index]
                for i in range(row[inmates_details_index].count('|')):
                    districts.append(district.replace('\n',''))
        else:
            l = l+row[inmates_details_index+1]
            for i in range(row[inmates_details_index+1].count('|')):
                districts.append(district.replace('\n',''))
                
    l = l.replace('\n','').replace(')(','),(').replace(') (','),(').replace('), (','),(')
            
    revenue_circles = []
    inmates = []
    
    for i in l.split(','):
        rev_circle = i.split('|')[0].strip()
        rev_circle = re.sub(r'[^\w\s]', '', rev_circle).replace('\n','').strip()
    
        inmate_num = i.split('|')[1].strip()
        inmate_num = re.sub(r'[^\w\s]', '', inmate_num).replace('\n','').strip()
    
        revenue_circles.append(rev_circle)
        inmates.append(inmate_num)
    
    inmates_relief_df = pd.DataFrame([districts, revenue_circles,inmates]).T
    inmates_relief_df.columns =['District','Revenue circle','inmates']
    
    inmates_relief_df = add_standard_subdistrict_column(inmates_relief_df)

    return inmates_df, inmates_relief_df

In [30]:
d,e = prepare_camp_inmates_df()

In [31]:
e

Empty DataFrame
Columns: []
Index: []

In [6]:
gc = pygsheets.authorize(service_file='FRIMS_Daily_Reports/idea-frm-500603810b1a.json')
sh=gc.open('FRIMS_Daily_Reports')

In [9]:
def upload_population_affected(population_affected_df):
    wks = sh.worksheet('title','population_affected')
    cells = wks.get_all_values(include_tailing_empty_rows=False, include_tailing_empty=False, returnas='matrix')
    last_row = len(cells)
    wks.set_dataframe(population_affected_df,(last_row+1,1),copy_head=False)

    return None


def upload_croparea_affected(crop_area_affected_df):
    wks = sh.worksheet('title','crop_area_affected')
    cells = wks.get_all_values(include_tailing_empty_rows=False, include_tailing_empty=False, returnas='matrix')
    last_row = len(cells)
    wks.set_dataframe(crop_area_affected_df,(last_row+1,1),copy_head=False)

    return None

def upload_inmates_affected(inmates_relief_df):
    if inmates_relief_df.shape==(0,0):
        return None
    else:
        wks = sh.worksheet('title','relief_camp_inmates')
        cells = wks.get_all_values(include_tailing_empty_rows=False, include_tailing_empty=False, returnas='matrix')
        last_row = len(cells)
        wks.set_dataframe(inmates_relief_df,(last_row+1,1),copy_head=False)
        return None

In [56]:
upload_population_affected(b)
upload_croparea_affected(c)
upload_inmates_affected(e)

True

In [66]:
gc = pygsheets.authorize(service_file='FRIMS_Daily_Reports/idea-frm-500603810b1a.json')
sh=gc.open('FRIMS_Daily_Reports')

for month in range(8,9):
    if month in [5]:
        max_date=32
        min_date=29
    elif month in [7]:
        max_date=32
        min_date=30
    elif month in [8]:
        max_date = 22
        min_date=20

    for day in range(min_date,max_date):
        date = str(day)+'-'+str(month)+'-'+'2022'
        if type(date)==str:
            date = datetime.strptime(date, '%d-%m-%Y').date()
        else:
            date = date + timedelta(days=-1)
        
        if date.month<10:
            date_month = '0'+str(date.month)
        else:
            date_month = str(date.month)
        
        if date.day<10:
            date_day = '0'+str(date.day)
        else:
            date_day = str(date.day)
        
        date_string = date_day+'.'+date_month+'.'+str(date.year)
        print(date_string)
        
        daily_report_url = 'http://www.asdma.gov.in/pdf/flood_report/2022/Daily_Flood_Report_'+date_string+'.pdf'
        print(daily_report_url)
        urllib.request.urlretrieve(daily_report_url, r"D:/Projects/OCDS/FRIMS_Daily_Reports/FRIMS_"+date_string+".pdf")
        
        pdf_file = r"D:/Projects/OCDS/FRIMS_Daily_Reports/FRIMS_"+date_string+".pdf"
        tables = camelot.read_pdf(pdf_file,pages='all')
        
        global df
        df = pd.DataFrame()
        for i in range(0,len(tables)):
            df = pd.concat([df,tables[i].df],axis=0, ignore_index=True)
        df.iloc[:,0] = df.iloc[:,0].apply(replace_newlines)
            
        a, population_affected_df = prepare_population_affected_df()
        population_affected_df['Date'] = date_string.replace('.','-')
        croparea_affected_df = prepare_croparea_affected_df(a)
        croparea_affected_df['Date'] = date_string.replace('.','-')
        d,inmates_relief_df = prepare_camp_inmates_df()
        if inmates_relief_df.shape==(0,0):
            print('Empty')
        else:
            inmates_relief_df['Date'] = date_string.replace('.','-')
        
        
        
        upload_population_affected(population_affected_df)
        upload_croparea_affected(croparea_affected_df)
        upload_inmates_affected(inmates_relief_df)

20.08.2022
http://www.asdma.gov.in/pdf/flood_report/2022/Daily_Flood_Report_20.08.2022.pdf

IndexError: list index out of range

In [ ]:
#May 31 pending

# CUMULATIVE

In [436]:
import pygsheets
import re
import pandas as pd
import numpy as np
from difflib import SequenceMatcher
import dateutil.parser

In [438]:
google_client = pygsheets.authorize(service_file='idea-frm-500603810b1a.json')
cumulative_FRIMS_google_sheet =google_client.open('Data request | FRIMS | ASDMA_shared with Dr Mazumdar')

In [695]:
sheet_2017 = cumulative_FRIMS_google_sheet.worksheet('title','Cumulative Flood Report 2017')

In [696]:
df = sheet_2017.get_as_df()
df.columns

C:\Users\saikr\anaconda3\lib\site-packages\pygsheets\worksheet.py:1477: UserWarning: At least one column name in the data frame is an empty string. If this is a concern, please specify include_tailing_empty=False and/or ensure that each column containing data has a name.
  warnings.warn('At least one column name in the data frame is an empty string. If this is a concern, please specify include_tailing_empty=False and/or ensure that each column containing data has a name.')

Index(['PARTICULARS', '',
       'Cumulative from 31st March, 2017 till 16th October, 2017 ', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
      dtype='object')

In [697]:
df.columns = ['0', '1',
       '2', '3', '4',  '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '']
df = df[['0', '1',
       '2', '3','4']]
df

,0,1,2,3,4
0,No. of Districts Affected,,31,,
1,Name of Districts Affected,,"1. Dhemaji, 2. Lakhimpur, 3. Biswanath, 4. Son...",,
2,No. of Revenue Circles affected,,140,,
3,Names of Revenue Circles affected,,Dhemaji,,4
4,,,Lakhimpur,,7
...,...,...,...,...,...
1698,,,,· 1 Mosque (No. 2 Koiri Jame Masjid) and a ho...,
1699,,Majuli,,"· Erosion at Salmora Gaon, 7 no. lot, by rive...",
1700,,,,· Erosion at Sesuguri area under Atahguri GP.,
1701,,,,· Erosion at Salmora Spur no. 1 and Salmora S...,
1702,,,,"· Erosion at Boxi Chapori, Vekeli, 2 no. Saku...",

In [745]:
df[df['1']=='Other:']

     0       1 2           3 4
1358    Other:    Biswanath:

In [746]:
start = df[df['1']=='Other:'].index[0]
for index,row in df[start+1:].iterrows():
    if row[1]=='':
        continue
    else:
        end = index
        break
end

1563

In [747]:
k = df[start:end]
k

     0        1 2                                                   3 4
1358     Other:                                            Biswanath:
1359                ·          About 4-5 Meters river bank of Barg...
1360                                  ·           (Two) Nos. of Tree.
1361                  ·          1 Culvert damaged on Chatrang River.
1362                ·          Erosion in Lalpukhuri village river...
...  ..     ... ..                                                ... ..
1558                ·          Rupacherra RA /WSS Steel floating b...
1559                                                          Cachar:
1560                ·          1 (One) Shutter of Banaimulla Sluic...
1561                ·          Severe erosion occurred at Village ...
1562                ·          Damage of Bokrajhar FIS at village ...

[205 rows x 5 columns]

In [748]:
#k['3'][639]

In [749]:
pattern = '·\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 '

In [750]:
k['to_count'] = k['3'].apply(lambda x: pattern in x)

C:\Users\saikr\AppData\Local\Temp/ipykernel_3836/26354630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k['to_count'] = k['3'].apply(lambda x: pattern in x)

In [751]:
k['is_district'] = k['3'].apply(lambda x: (':' in x)&(len(x.split(' '))==1))

C:\Users\saikr\AppData\Local\Temp/ipykernel_3836/4071421144.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k['is_district'] = k['3'].apply(lambda x: (':' in x)&(len(x.split(' '))==1))

In [752]:
k

,0,1,2,3,4,to_count,is_district
1358,,Other:,,Biswanath:,,False,True
1359,,,,· About 4-5 Meters river bank of Barg...,,True,False
1360,,,,· (Two) Nos. of Tree.,,True,False
1361,,,,· 1 Culvert damaged on Chatrang River.,,True,False
1362,,,,· Erosion in Lalpukhuri village river...,,True,False
...,...,...,...,...,...,...,...
1558,,,,· Rupacherra RA /WSS Steel floating b...,,True,False
1559,,,,Cachar:,,False,True
1560,,,,· 1 (One) Shutter of Banaimulla Sluic...,,True,False
1561,,,,· Severe erosion occurred at Village ...,,True,False
1562,,,,· Damage of Bokrajhar FIS at village ...,,True,False

In [753]:
d = dict()

In [754]:
for index, row in k.iterrows():
    if row['is_district']:
        count = 0
        district = row['3']
        district=district.split(':')[0]
        continue
    elif row['to_count']:
        count=count+1
        d[district]=count
        continue

In [755]:
d

{'Biswanath': 9,
 'Sonitpur': 12,
 'Udalguri': 16,
 'Darrang': 9,
 'Baksa': 1,
 'Nalbari': 4,
 'Barpeta': 2,
 'Bongaigaon': 3,
 'Chirang': 26,
 'Kokrajhar': 5,
 'Dhubri': 3,
 'Goalpara': 4,
 'Morigaon': 14,
 'Nagaon': 7,
 'Dima-Hasao': 2,
 'Golaghat': 9,
 'Jorhat': 7,
 'Majuli': 5,
 'Sivasagar': 25,
 'Karimganj': 8,
 'Hailakandi': 2,
 'Cachar': 3}

In [756]:
pd.DataFrame.from_dict(d, orient = 'index').to_csv('OTHER_DAMAGES_COUNT_2017.csv')